.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* sheare style start*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    background-color: #F5F5F5;
    width: 1600px;
}
main{
    width: 1280px;
    margin: 0 auto;
}
footer, nav{
    width: 1600px;
    margin: 0 auto;
} 
section{
    margin-bottom: 80px;
}
.section-heading{
    font-size: 40px;
    margin-bottom: 24px;
}
.section-discription{
    margin-bottom: 32px;
}
.hover-effect{
    font-size: 18px;
    padding: 17px 34px;
    transition: 0.2s ease-out;
    border: none;
}
.hover-effect:hover{
    opacity: 90%;
    transform: scale(1.02);
}
p{
    font-size: 16px;
    color: #0e0e0e83;
}
/* sheare style end*/

/* nav style start */
header nav{
    margin: 0 auto;
    margin-bottom: 20px;
}
header .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 160px;

}
.nav-bar h1{
    font-size: 32px;
}
.nav-bar button{
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 2px solid #006A50;
    color: #006A50;
    cursor: pointer;
}
/* nav style end */

/* hero style start */
.hero{
    width: 1280px;
    margin: 0 auto;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 59.99px;
    margin-bottom: 80px;
}
.hero .hero-conteinar{
    display: flex;
}
.hero-info h2{
    font-size: 24px;
    color: #0e0e0e83;
}
.hero-info h1{
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.hero-info button{
    font-size: 18px;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
}
/* hero style end */

/* pillar section start */
.Pillars-heading{
    font-size: 40px;
    margin-bottom: 32px;
}
.pillars-conteinar{
    display: flex;
    gap: 24px;
}
.pillars-conteinar div h2{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 12px;
}
.pillars-conteinar div p{
    font-size: 16px;
    color: #0e0e0e83;
}
.pillars-conteinar div{
    padding: 24px;
    background-color: white;
    border-radius: 16px;
}
/* pillar section end */


/* vision of future section start */
.vision-of-future_heading{
    font-size: 40px;
    margin-bottom: 24px;
}
.future-conteinar{
    display: flex;
    gap: 24px;
    margin: 32px 0;
}
.future-conteinar div{
    padding: 24px;
    background-color: #d1dcef;
    border-radius: 16px;
}
.future-conteinar h3{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 12px;
}
.future-conteinar button{
    margin-top: 64px;
    padding: 11px 20px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #5490F5;
    cursor: pointer;
}
.future-conteinar div:nth-child(2) button{
    background-color: #006A50;
}
.future-conteinar div:nth-child(3) button{
    background-color: #FFC239;
}
.future-conteinar div:nth-child(2){
    background-color: #C6E4D6;
}
.future-conteinar div:nth-child(3){
    background-color: #F7EBCF;
}

.about-Dr_Y{
    padding: 48px 24px;
    background-color: white;
    border-radius: 16PX;
}
.about-Dr_Y p{
    color: rgba(0, 0, 0, 0.825);
}
.about-Dr_Y h4{
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.797);
}
/* vision of future section end */


/* Quetion table section start */
.table-caption{
    font-size: 40px;
    margin-bottom: 24px;
}
.table-box{
    padding: 32px;
    background-color: white;
    text-align: center;
    border-radius: 16px;
}
.table-box table{
    margin: 0 auto;
    font-size: 16px;
}
table tbody td,th{
    padding: 35px 20px;
}
table thead{
    background-color: #C6E4D6;
}
.table-box table thead tr{
    display: flex;
    justify-content: space-between;
}
.q1{
    margin-left: 950px;
}
.table-box table tbody tr{
    display: flex;
    justify-content: space-between;
}


select{
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #C6E4D6;
}
tbody tr:nth-child(2){
    background-color: #C6E4D6;
}
/* Quetion table section end */


/* news section start */
.all-news{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.news-conteinar{
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    gap: 32px;
}
.news-conteinar .news-img{
    border-radius: 24px;
}
.news-conteinar div h1{
    font-size: 32px;
    margin-bottom: 12px;
    opacity: 80%;
}
.news-conteinar div .date-time{
    margin: 12px 0;
}
.s1{
    margin-right: 10px;
}
.news-conteinar div button{
    font-size: 18px;
    padding: 13px 26px;
    border-radius: 8px;
    color: white;
    background-color: #006A50;
    margin-top: 32px;
}
/* news section end */


/* donate section start */
.Donate{
    text-align: center;
    margin-top: 80px;
    padding: 0 88px;
}
.donate-amount{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
    
}
.donate-amount div{
    width: 252px;
    height: 128px;
    border-radius: 16px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tk-200{
    background-color: #C6E4D6;
}
.tk-100, .tk-300, .tk-400{
    background-color: white;
    transition: 0.5s ease-in-out;
}
.donate-amount div:hover{
    background-color: #006A50;
    color: white;
    transform: scale(1.03);
}
input[type="text"]{
    font-size: 20px;
    text-align: center;
    padding: 20px 418px;
    border: none;
    border-bottom: 1px solid #0e0e0e36;
}
.Donate button{
    font-size: 18px;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    color: white;
    margin-top: 32px;
}

/* donate section end */


/* pillar section start */
/* pillar section end */


/* pillar section start */
/* pillar section end */

