.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* sheare style start*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    background-color: #F5F5F5;
    width: 1600px;
}
main{
    width: 1280px;
    margin: 0 auto;
}
footer, nav{
    width: 1600px;
    margin: 0 auto;
} 
section{
    margin-bottom: 80px;
}
.hover-effect{
    font-size: 18px;
    padding: 17px 34px;
    transition: 0.2s ease-out;
}
.hover-effect:hover{
    opacity: 90%;
    transform: scale(1.02);
}
/* sheare style end*/

/* nav style start */
header nav{
    margin: 0 auto;
    margin-bottom: 20px;
}
header .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 160px;

}
.nav-bar h1{
    font-size: 32px;
}
.nav-bar button{
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 2px solid #006A50;
    color: #006A50;
}
/* nav style end */

/* hero style start */
.hero{
    width: 1280px;
    margin: 0 auto;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 59.99px;
    margin-bottom: 80px;
}
.hero .hero-conteinar{
    display: flex;
}
.hero-info h2{
    font-size: 24px;
    color: #0e0e0e83;
}
.hero-info h1{
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.hero-info button{
    font-size: 18px;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    color: white;
    border: none;
}
/* hero style end */

/* pillar section start */
.Pillars-heading{
    font-size: 40px;
    margin-bottom: 32px;
}
.pillars-conteinar{
    display: flex;
    gap: 24px;
}
.pillars-conteinar div h2{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 12px;
}
.pillars-conteinar div p{
    font-size: 16px;
    color: #0e0e0e83;
}
.pillars-conteinar div{
    padding: 24px;
    background-color: white;
    border-radius: 16px;
}

/* pillar section end */


/* pillar section start */
/* pillar section end */


/* pillar section start */
/* pillar section end */


/* pillar section start */
/* pillar section end */


/* pillar section start */
/* pillar section end */

